@using AzureWebLearningTool.Models
@model AzureWebLearningTool.Models.Question
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<style>
    body{
        background-color:red;
    }
    .card-body{
        height:50vh;
    }

    .progress-bar{
        border-radius:20px;
        background-color:green;
    }
</style>

<div class="sticky-top">
    <div class="card" style="width: auto;">
        <div class="card-body">
            <h5 class="card-title">@{
                    @Model.Id
                }.@Model.Text</h5>
            @{double percentage = 100.00 / 17.00; double soloPecentage = percentage * Model.Id;}
            <div class="progress" style="background-color:aliceblue">
                <div class="progress-bar" role="progressbar" style="width:@soloPecentage%;" aria-valuenow="@soloPecentage" aria-valuemin="0" aria-valuemax="100">@soloPecentage.ToString("0.")%</div>
            </div>
                @foreach (Choice choice in Model.Choices)
                {
                <div class="form-check-@Model.Id" id="form-@choice.isAnswer">
                    <input class="form-check-input-@Model.Id" type="checkbox" value="@choice.isAnswer" id="flexCheckChecked" onchange="checkFunc(@Model.Id)">
                    <label class="form-check-label" for="flexCheckChecked">
                        @choice.text
                    </label>
                </div>
                }
        </div>
    </div>
</div>

<script>
    function checkFunc(choiceId) {
        var uncheckedElements = document.getElementsByClassName("form-check-"+ choiceId);

        for(let i = 0; i < uncheckedElements.length; i++)
        {
            uncheckedElements[i].firstElementChild.disabled = true;
        }
    }
</script>